
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

html {
  --primaryColor: #E84037;
  --primaryColor500: #830403;
  --secondColor: #24387F;
  --bg: #F8F5F0;
  --textLigth: #F8F5F0;
  --textLigth300: #fafafa;
  --black: #303030;

  --green500: #169B9A;
  --green700: #128A89;

  --warning: #e8b737;
}

html[data-theme='dark'], html[data-theme='alto-contraste']{
  // Dark
  --secondColor: #F8F5F0;
  --bg: #303030;
  --textLigth: #F8F5F0;
  --textLigth300: #F8F5F0;
  --black: #F8F5F0;
  --primaryColor500: #E84037;
  --warning: #F8F5F0;
  
  // --green500: #181818;
  // --green700: #080808;

  button.primary {
    background-color: var(--bg);
    border: 1px solid var(--textLigth);
  }

  .arrow img, .moviment img, img.logo, .partners {
    filter: brightness(100);
  }
}

html[data-theme='alto-contraste'] {
  // Dark
  --secondColor: #F8F5F0;
  --bg: #303030;
  --textLigth: #F8F5F0;
  --textLigth300: #F8F5F0;
  --black: #F8F5F0;
  --primaryColor500: #E84037;
  // --green500: #181818;
  // --green700: #080808;

  button.primary {
    background-color: var(--bg);
    border: 1px solid var(--textLigth);
  }

  .arrow img, .moviment img, img.logo, .partners {
    filter: brightness(100);
  }
}

* {
  box-sizing: border-box;
  outline: var(--primaryColor); 
}

html, body, #__next {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  background: var(--bg);
  

}

h1, h2, h3, h4, p {
  margin: 0;
}

label {
  color: var(--black);
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;

  margin: 0 auto;
}


button.primary {
  width: 100%;
  background: var(--secondColor);
  border: 0;
  color: var(--textLigth);
  font-size: 14px;
  font-weight: 500;

  padding: 16px 16px;
  border-radius: 10px;
  
  cursor: pointer;
}

.icon-container {
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-right: 4px;
  }
}

a {
  color: var(--secondColor);
  text-decoration: none;
  // h3 {
  //   color: var(--black);
  // }
}

.enabled {
  margin-right: 20px;
}

.all-toggle {
  position: absolute;
  top: 40px;
  right: 40px;

  display: flex;
  div + div {
    margin-left: 10px;
  }
  > div {
    cursor: pointer;
  }
}

@media (max-width: 426px)  {
  .all-toggle {
    flex-direction: column;
    
    div + div {
      margin-left: 0px;
    }
  }
}

// Pages
@import "./pages/home";
@import "./pages/documents";
@import "./pages/visuallaw";
