.visual-law {
  height: 100%;
  display: flex;
  align-items: center;

  .content {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin: 0 auto;
  }

  h1 {
    color: var(--primaryColor500);
  }

  h3 {
    font-weight: 400;
    font-size: 15px;

    margin: 8px 0 16px 0;
    color: var(--black);

  }

  .info-header {
    width: 100%;
    margin: 16px;
    .info-header-content {
      display: flex;
      justify-content: space-between;
      h3 {
        margin-bottom: 8px;
      }
    }
  }

  .infos {
    width: 100%;
    display: flex;
    .info-item {
      flex: 1;
      display: flex;
      align-items: flex-end;

      background: var(--green500);
      border-radius: 10px 0px 0px 10px;
      
      padding: 20px;

      p, h4 {
        color: var(--textLigth);
      }
      p {
        font-size: 13px;
        opacity: 0.8;
      }

      h4 {
        font-size: 16px;
        text-transform: capitalize;
      }

      svg {
        color: var(--textLigth);
        margin-right: 8px;
      }

      &:nth-child(2) {
        background: var(--green700);
        border-radius: 0 10px 10px 0;
      }
    }
  }

  .arrow {
    margin-top: 24px;
    text-align: center;
    color: var(--primaryColor500);
    
    h4 {
      margin-top: 8px;
    }
  }

  .moviment {
    max-width: 550px;
    width: 100%;
    
    display: flex;
    align-items: flex-start;

    margin-top: 16px;
    strong {
      color: var(--primaryColor500);
      text-transform: capitalize;
    }

    h3 {
      color: var(--black);
      font-size: 16px;
      margin-top: 0px;
      text-align: center;
    }

    img {
      margin-right: 8px;
    }
  }

  .orientation {
    margin-top: 48px;
    color: var(--primaryColor500);
    opacity: 0.8;
    .icon-container {

      justify-content: center;
      align-items: center;
    }
    svg {
      margin-right: 8px;
    }
  }

  .buttons {
    margin-bottom: 24px;
    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      color: var(--secondColor);
      
      p {
        font-size: 18px;
        margin-left: 2px;
      }
      & + button {
        margin-left: 16px;
      }
    }
  }
}


@media (max-width: 768px)  {
  .visual-law {
    display: block;
    .infos {
      width: 100%;
      flex-wrap: wrap;
      
    }
    .orientation {
      margin-bottom: 100px;
    }
  }
}


@media (max-width: 630px)  {
  .visual-law {

    .infos {
      flex-direction: column;
      .info-item {
        border-radius: 10px 10px 0 0;
  
        &:nth-child(2) {
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
}

@media (max-width: 426px)  {

  .visual-law {
  
    padding: 46px 15px;

    
    h1 {
      font-size: 29px;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: 24px;
      button + button {
        margin-left: 0px;
        padding: 0;
        margin-top: 8px;
      }
      // .icon-container {
      //   padding: 0;
      // }
    }
  }
}




